.calc-button {
    min-height: 80px !important;
    min-width: 40px !important;
    font-size: xx-large !important;
}

#display-container-div {
    margin-top: 45px;
    padding: 15px;
    background-color: rgb(160, 160, 160);
}

.button-container {
    padding: 5px;
}
